    body {
        direction: rtl;
        font-family: 'IRANSansWeb' !important;
    }
    
    .min--logo .img--logo {
        width: 400px;
        height: auto;
    }
    
    .min--logo h3.slogan {
        color: white;
        text-align: center;
        padding-top: 15px;
        font-weight: normal;
        font-family: 'IRANSansWeb' !important;
    }
    
    h3.title {
        font-family: 'IRANSansWeb' !important;
    }
    
    .submit {
        font: 15px "IRANSansWeb" !important;
    }
    
    .flex--contact {
        padding-top: 150px !important;
    }
    
    header.index .flex--nav-top .flex--wrap .flex---left .flex--left {
        width: 60px;
        height: auto !important;
        display: flex;
        justify-content: center;
        background: #f7c300;
        text-align: center;
        align-items: center;
    }
    
    .flex--flickity .main-carousel .carousel-cell .overlay .flex--parent {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
    }
    
    #slideshow .flickity-enabled.is-draggable .flickity-viewport {}
    
    .flex--select {
        display: none !important;
    }
    
    footer #contact-info {
        color: #fff;
        font-size: 16px;
    }
    
    .alert-danger ul {
        padding: 15px;
    }
    
    .alert-danger ul li {
        list-style: circle !important;
    }
    
    .clear {
        clear: both;
    }
    
    .red {
        color: #da5c52;
    }
    
    .green {
        color: #92B30B;
    }
    
    div.alert ul {
        padding-right: 10px;
    }
    
    button.close {
        float: left;
    }
    /* pagination */
    
    ul.pagination {
        list-style: none;
        border-top: 1px solid #f7c300;
        width: 100%;
        padding-top: 15px;
        margin: 10px 0 20px;
        text-align: center;
    }
    
    ul.pagination li {
        display: inline;
        margin-left: 5px !important;
    }
    
    ul.pagination li a.button {
        color: #999;
        padding: 0px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        text-decoration: none;
    }
    
    ul.pagination li a.button:hover {
        color: #D57A00;
        border: 1px solid #DF922B;
    }
    
    .post {
        display: block;
        line-height: 30px;
        padding: 10px;
        text-align: justify;
        color: #222;
    }
    
    p.descrption {
        text-align: justify;
    }
    
    .flex--nav_top {
        /* top: 136px; */
    }
    
    footer {
        color: #a9b5ce;
        padding-bottom: 0 !important;
    }
    
    footer .flex--parent {
        border-bottom: solid 1px #080b10;
    }
    
    footer .flex--copy-right {
        display: flex;
        margin-top: 0 !important;
        justify-content: center;
        padding: 15px 0 !important;
        padding-bottom: 8px;
        background: #171f31;
        border-top: solid 1px #29344c;
    }
    
    footer .flex--copy-right .title {
        font: 18px "IRANSansWeb";
        color: #a9b5ce;
        cursor: default;
    }
    
    footer .flex--parent .flex--wrap .flex---left .flex--right {
        padding-top: 10px !important;
    }
    
    footer .flex--parent .flex--wrap .flex---left .flex--right .flex--info {
        display: block !important;
    }
    
    footer .flex--parent h3.title {
        color: white;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0 7px;
        margin-bottom: 30px;
        font-weight: normal;
        border-bottom: 1px solid #3c4a69;
    }
    
    footer #last-products {}
    
    footer ul#last-products li {
        margin-bottom: 5px;
    }
    
    footer ul#last-products li a {
        color: #eee !important;
    }
    
    footer ul#last-products li a:hover {
        color: gold !important;
    }
    
    footer ul#last-products li:hover>img {
        border: 1px solid #ff464d;
    }
    
    footer ul#last-products li img {
        height: 70px;
        width: 65px;
        border: 1px solid #e8d154;
        padding: 3px;
    }
    
    .min--pic .img--user {
        border: 3px solid #ddd;
        padding: 7px;
    }
    
    .flex---products .flex--product .product_items:hover img,.flex---products-cat .flex--product .product_items:hover img {
        border: 3px solid #f7c300;
    }
    
    table.table {
        width: 100%;
    }
    
    table.table td {
        padding: 5px;
        vertical-align: middle;
    }
    
    .prop_name {
        background: #eee;
        width: 25%;
    }
    
    .prop_value {
        background: #f6f6f6;
    }
    
    .product_file {
        width: 25%;
        text-align: center;
        direction: ltr;
        overflow: hidden;
    }
    
    .catalog_table {
        margin: 10px 0 25px;
    }
    
    .catalog_table th {
        background: #ddd;
        padding: 5px 7px;
    }
    
    .catalog_table td {
        background: #eee;
        padding: 7px 10px !important;
    }
    /* TAB */
    
    div.tabs li.active,
    div.tabs li:hover {
        color: #26324a !important;
        background: #f7c300;
        transition: all 120ms ease-in;
    }
    
    .tabcontent {
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        /* Fading effect takes 1 second */
    }
    
    @-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeEffect {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* Top Menu */
    
    @media (max-width: 600px) {
        .min--logo {
            padding-top: 85px !important;
        }
        .min-humber {
            display: block !important;
            position: fixed;
            top: 0;
            color: white;
            z-index: 99999;
            background: #364563;
            width: 100%;
            padding: 5px;
        }
        .flex--nav_top {
            position: fixed !important;
            top: 40px !important;
            right: 0 !important;
        }
        .flex--nav_top ul {
            background: #f5f5f5 !important;
            border-radius: 0px !important;
            padding: 5px;
        }
        .flex--nav_top ul li {
            width: 100%;
            display: inline-flex;
            margin-left: 0px;
            text-indent: 10px;
            border-bottom: 1px solid #ffffff;
            align-items: center;
        }
        .flex--nav_top ul li a {
            font: 16px "IRANSansWeb";
            color: #191f42;
            margin-top: 0 !important;
            line-height: 38px;
            border-bottom: 1px solid #ddd;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .flex--contact {
            padding-top: 50px !important;
        }
        }
    
    @media screen and (max-width: 900px) {
        .flex--nav_top {
            right: 32px;
            top: 82px;
        }
        .flex--nav_top ul {
            background: #f5f5f5 !important;
            border-radius: 5px;
            padding: 5px;
        }
        .flex--nav_top ul li {
            width: 100%;
            display: inline-flex;
            margin-left: 0px;
            text-indent: 10px;
            border-bottom: 1px solid #ffffff;
            align-items: center;
        }
        .flex--nav_top ul li a {
            font: 16px "IRANSansWeb";
            color: #191f42;
            margin-top: 0 !important;
            line-height: 38px;
            border-bottom: 1px solid #ddd;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .flex--contact {
            padding-top: 50px !important;
        }
        }
        
        .descrption ul li{
            list-style: disc;
        }

        span.key,span.value{
            font-size: 18px;
        }

        span.tab{
            font-size: 20px;
            padding: 0px 18px 8px;
        }
